body {
    margin:0;
    padding:0;
}
.map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#neighborhood_greet {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    width:1px;
    height:1px;
    font-family:sans-serif;
    font-weight:bold;
    font-size:45pt;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    text-align:center;
    /*background:green;*/
    background:green;
}

form {
    position:absolute;
    top:10px;
    right:10px;
    font-family:sans-serif;
    /*background:green;*/
    background:#fafafa;
    border-radius:2px;
    border:solid 1px grey;
}

/*input {
    display: none;
}*/

input:not([type~=file]) {
    display: none;
}